**/bin/
**/obj/
**/node_modules/
**/dist/
**/.git/
**/.vite/
**/*.db
**/*.db-shm
**/*.db-wal
**/*.log
**/nul
Client/node_modules/
Client/dist/
Client/.vite/
ClubPlaytime.Api/bin/
ClubPlaytime.Api/obj/
ClubPlaytime.Api/publish/
ClubPlaytime.Api/appsettings.Development.json
